@{
    ViewData["Title"] = "Home Page";
}

<h1 style="color: black;"> BIENVENIDOS A PAZ Y SALVO </h1>

<p>Con este proyecto podrás manejar tus servicios, facturas y entre otras cosas más con mayor facilidad.</p>
<p>Sharik Galvis</p>
